// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/bootstrap";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
html{
	scroll-behavior: smooth;

}

.products .items .card-img-top{
	height: 200px;
	object-fit: cover;
}


.bg-dark-transparent {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

.navbar {
	background-color: #2e323e;
}

.custom-search-bar {
	width: 500px; /* Adjust the width as needed */
	position: absolute;
	top: 25px;
}

.white-icon {
	color: white;
}


.breadcrumb-item a {
	color: #2e323e;
}
